h1 Welcome!

p Your Shopix shop is ready on the following URL:

p = "https://#{System.get_env("URL_HOST")}/admin"

p Connect to the interface, add your first products, and sell!

p Have fun,

p The Shopix team.
